Source: ros-humble-tvm-vendor
Section: misc
Priority: optional
Maintainer: Josh Whitley <josh.whitley@autoware.org>
Build-Depends: debhelper (>= 9.0.0), git, libopenblas-dev, libvulkan-dev, libxml2-dev, ocl-icd-opencl-dev, opencl-headers, ros-humble-ament-cmake, ros-humble-ros-environment, spirv-headers, spirv-tools, ros-humble-ros-workspace
Homepage: https://tvm.apache.org/
Standards-Version: 3.9.2

Package: ros-humble-tvm-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git, libopenblas-dev, libvulkan-dev, libxml2-dev, ocl-icd-opencl-dev, opencl-headers, spirv-headers, spirv-tools, ros-humble-ros-workspace
Description: Wrapper around Apache TVM to make it available to the ROS ecosystem.
